
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.btn-bg-color {
  background-color: rgb(78, 38, 219);
}

.bg-color {
  background-color: rgb(237, 239, 244);
}
.align-justify-box {
  align-items: center;
  justify-content: center;
}
.align-justify-box-space {
  justify-content: space-between;
}



body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
}


.row-align-only {
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}

.content-container {
  width: 100%;
}

.empty {
  width: 1.3rem;
}

.settings {
  height: 30px;
}

.content-container1 {
  width: calc(100%-4.6rem);
  padding: 19px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0;
  height: 3rem;
}
.content-container1-box {
  width: 100%;
  font-size: 1rem;
  height: 3rem;
}
.content-container1-box a {
  padding: 8px;
  letter-spacing: 0.4px;
  padding-left: 12px;
  padding-right: 12px;
}
.auto-number {
  background-color: white;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 6px;
  border-radius: 42%;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #e0e3eb;
  color: rgb(52, 64, 84);
}
.btn-container {
  gap: 8px;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}
.btns{
  gap:2px;
}
.font-semibold {
  font-weight: 400;
}
.explore {
  background-color: white;
  color: #4e26db;
  font-size: 0.875rem;
  font-weight: 500;
  border: 0.5px solid rgb(78, 38, 219);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0rem;
}
.automation {
  background-color: #4e26db;
  color: white;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  letter-spacing: 0rem;
}
.automation-heading {
  font-size: 1.2rem;
}

.plus {
  font-size: 1rem;
  margin-right: 2px;
  font-weight: lighter;
}


