
    <header class="w-full flex py-1 pr-0 pl-5 bg-gray-100">
        <div class="w-full text-base h-12 flex justify-between items-center">
            <div class=" flex items-center justify-center">
                <span class=" text-primary font-semibold text-lg">Automations</span>
                &nbsp;
                &nbsp;
                <span class="bg-white text-slate-700 text-xs font-semibold py-1.5 px-2 rounded-full border border-zinc-200">19</span>
            </div>
            <div class="flex items-center gap-2">
                <div>
                    <a class="flex px-3 py-2 bg-white text-indigo-700 text-sm font-medium border border-indigo-700 rounded tracking-normal">Explore Templates</a>
                </div>
                <div>
                    <div class="flex bg-indigo-700 text-white text-sm py-2 px-3 tracking-normal font-medium items-center justify-center">
                        <div class="flex items-center justify-center">
                        <div class=" mr-0.5 text-base font-light flex justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="16" height="16" class="shrink-0 size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M12 5v14m-7-7h14"></path></svg>
                        </div>
                        <div class="flex justify-center items-center">
                        New Automation
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </header>
