<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./header.css">
</head>
<body>
    <header class="content-container1 flex bg-color">
        <div class="content-container1-box flex align-justify-box-space row-align-only">
            <div class=" align-justify-box flex ">
                <span class="automation-heading" style="color: #101828; font-weight: 600; font-size: 1.125rem;letter-spacing: 0.2px;">Automations</span>
                &nbsp;
                &nbsp;
                <span class="auto-number">19</span>
            </div>
            <div class="flex row-align-only btn-container ">
                <div>
                    <a class="explore font-semibold">Explore Templates</a>
                </div>
                <div>
                    <div class="automation font-semibold align-items justify-content">
                        <div class="flex align-items justify-content btns">
                        <div class="plus flex align-items justify-content">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="16" height="16" class="shrink-0 size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M12 5v14m-7-7h14"></path></svg>
                        </div>
                        <div class="flex justify-content align-items">
                        New Automation
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </header>
</body>
</html>