
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.btn-bg-color {
  background-color: rgb(78, 38, 219);
}

.bg-color {
  background-color: rgb(237, 239, 244);
}
.align-justify-box {
  align-items: center;
  justify-content: center;
}
.align-justify-box-space {
  justify-content: space-between;
}
.svg-icon {
  height: 23px;
  width: 23px;
  color: grey;
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
}



body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.row-justify-only {
  justify-content: center;
}
.row-align-only {
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}

.navbar-container {
  width: 3.3rem;
  height: 100%;
  justify-content: space-between;
}

.navbar-container-top-logo {
  width: 3.3rem;
  height: 56px;
}

.content-container {
  width: 100%;
}

.empty {
  width: 1.3rem;
}
.navbar-container-top-icon {
  width: 3.3rem;
  height: 36px;
}
.navbar-container-top-icons {
  margin-top: 10px;
  gap: 12px;
}
.navbar-container-bottom {
  width: 3.3rem;
  gap: 14px;
}
.navbar-container-bottom > div {
  width: 3.3rem;
}
.name-logo {
  height: 67px;
  width: 3.3rem;
  border-top: 1px solid #cfd4de;
}
.settings {
  height: 30px;
}
.name-logo-initial {
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
  border-radius: 50%;
}


.btn-container {
  gap: 8px;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}
.btns{
  gap:2px;
}
.font-semibold {
  font-weight: 400;
}




.content-container3 {
  background-color: white;
}




.initials {
  width: 30px;
  height: 30px;
  background-color: #edeff4;
  color: rgb(102, 112, 133);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-right: 10px;
  border: none;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}
input{
  height: 27px;
  border: none;
  font-size: 0.9rem;
  font-weight: 50;
}

input:focus {
  outline: none;
}
input:focus .search-box {
  border: 2px solid rgb(78, 38, 219);
}


.name-time-container {
  width: 100%;
  height: 100%;
  gap: 10px;
}
.name-initials {
  background-color: rgb(237, 239, 244);
  padding: 6px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  color: rgb(102, 112, 133);
}



