<link rel="stylesheet" href="./table.css">
<table class=" border-0.1 border-gray-200 rounded-t-[10px] table-fixed border-spacing-0 w-[98%] ml-[1%] mr-[1%]">
                    <thead>
                        <tr>
                            <th>
                                Running
                            </th>
                            <th>Automation Name</th>
                            <th>Trigger</th>
                            <th>Apps Used</th>
                            <th>Projects</th>
                            <th>Created By</th>
                            <th>Last Modified By</th>
                            <th></th>
                            <th></th>
                        </tr>
                    <tbody>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class="  flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5  items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5  items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5  items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5  items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5  items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5  items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5  items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 flex items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="flex items-center justify-center">
                                    <label class="relative inline-block w-[34px] h-5">
    <input type="checkbox" class="sr-only peer">
    <div class="w-full h-full bg-[#f3efef] rounded-full peer-checked:bg-purple-600 transition duration-300"></div>
    <div class="absolute left-1 top-1 bottom-3 right-1 w-3 h-3 bg-white rounded-full transition-transform duration-300 transform peer-checked:translate-x-4"></div>
  </label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    harsh test
                                </div>
                            </td>
                            <td>
                                <div><span class="ml-2 rounded-14px p-[5px] text-secondary bg-slate-100 border border-zinc-200 text-xs font-normal">Schedule</span></div>
                            </td>
                            <td> <img src="gmail.png" width="30px" height="30px" alt="gmail icon" /></td>
                            <td>

                            </td>
                            <td >
                                <div class="flex w-full h-full gap-2.5 items-center">
                                  <div>
                                 <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                                </div>
                                  <div class=" flex flex-col">
                                    <div class="text-secondary text-sm font-light">Divyansh</div>
                                    <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                  </div>
                                </div>

                            </td>
                            <td> <div class="flex w-full h-full gap-2.5 items-center">
                                <div>
                               <span class="bg-gray-100 py-1.5 px-2.5 text-gray-500 border-0 rounded-full">D</span>
                              </div>
                                <div class=" flex flex-col">
                                  <div class="text-secondary text-sm font-light">Divyansh</div>
                                  <div class="text-gray-500 font-light text-xs tracking-[0.3px]">28/06/24 8:40 PM</div>
                                </div>
                              </div></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </thead>
                </table>