
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');




.bg-color {
  background-color: rgb(237, 239, 244);
}
.align-justify-box {
  align-items: center;
  justify-content: center;
}
.align-justify-box-space {
  justify-content: space-between;
}





.row-align-only {
  align-items: center;
}


.btns{
  gap:2px;
}
.font-semibold {
  font-weight: 400;
}

.content-container2 {
  width: calc(100%-4.6rem);
  background-color: rgb(237, 239, 244);
}
.content-container2-box {
  width: 100%;
  background-color: white;
  padding:0.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}
.sort-box {
  padding-left: 20px;
  gap: 20px;
  color: grey;
}

input{
  height: 27px;
  border: none;
  font-size: 0.9rem;
  font-weight: 50;
}
.search-box {
  border: 1px solid rgb(207, 200, 200);
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 10px;
}
input:focus {
  outline: none;
}
input:focus .search-box {
  border: 2px solid rgb(78, 38, 219);
}

.sort-box {
  color: #475467;
  font-weight: 600;
}



